.main-header {
    .logo{
        h1{
            font-size: 2rem;
        }
        cursor: pointer;
    }
  nav {
    ul > *:not(:last-of-type) {
      padding-inline-end: 5px;
    }
    a {
      &.active {
        color: chocolate;
      }
    }
    button{
      max-width: 48px;
    }
  }
}
