.contact-details{
    .modal-content{
        border-radius: 0.5em;
        overflow: hidden;
        >section{
            padding-inline: 5px;
        }
        .name{
            background-color: #ffcbb8;
        }
        .phone{
            background-color: cornsilk;
        }
        .email{
            background-color: #bdb3fc;
        }
        img{
            width: 100%;

        }
    }

}