<section class="home-page flex column align-center justify-center">
  <div class="user-container" *ngIf="user">
    <h1>Hello {{ user.name }}!</h1>
    <div className="content-container flex column justify-center">
      <img [src]="imgUrl" alt="" />
      <div className="details-container">
        <span>Coins: {{ user.coins }}</span>
        <div className="btc">
          <span>BTC: {{ btc }}</span>
          <img src="assets/icons/coins.png" alt="" />
        </div>
      </div>
      <!-- <MovesList moves={moves()} title={true} /> -->
      <moves-list title='yes' [moves]="user.moves|slice:-3" ></moves-list>
    </div>
  </div>
</section>
