<section class="main-app main-layout">
  <header><app-header></app-header></header>
  <main class="full main-layout">
    <!-- <home-page></home-page> -->
    <!-- <stats></stats> -->
    <router-outlet></router-outlet>
    <!-- <contact-details *ngIf="selectedContactId; else contactIndex " [contactId]="selectedContactId"></contact-details> -->
    <!-- <ng-template #contactIndex> -->
      <!-- <contact-index></contact-index> -->
    <!-- </ng-template> -->
  </main>
  <footer>MBTC Cofferights 2023</footer>
</section>